{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["(.*)controllers/(.*)$", "(.*)types", "(.*)services/(.*)$", "^(.*)models/(.*)$"]
}
